body {
    display: grid;
}

#content{
    display: grid;
    width: 400px;
    height: 600px;
    background-color: antiquewhite;
}

.screen{
    display: grid;
    grid-template-rows: 30% auto;
    border-color: black;
    border: 2px;
    padding: 10px;
    background-color: gray;

}

#buttons{
    display: grid;
    grid-template-columns: 90px 90px 90px auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    background-color: azure;

}